---
layout: default
---

<div class="post">
  {{ content }}

  <ul class="collapsible grey darken-3">
    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <li>
        <div class="collapsible-header">{{ year.name }}</div>
        <div class="collapsible-body">
          <ul class="collapsible">
            {% assign posts_by_month = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
            {% for month in posts_by_month %}
              <li>
                <div class="collapsible-header">{{ month.items.first.date | date:"%B" }}</div>
                <div class="collapsible-body">
                  <ul class="collection">
                    {% for post in month.items %}
                      <li class="collection-item grey darken-3" style="border: none"><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% endfor %} 
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
